.DS_Store
.vscode
components/arduino/
components/esp-face/
components/esp32-camera/
components/esp_littlefs/
components/esp-rainmaker/
esp-idf/
out/
build/
dist/
env.sh
sdkconfig
sdkconfig.old
version.txt
